@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&family=IBM+Plex+Sans:wght@300;400;500&family=IBM+Plex+Serif:ital,wght@0,400;0,600;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'IBM Plex Sans', system-ui, sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;
  --font-serif: 'IBM Plex Serif', Georgia, serif;
  --color-navy:  #001C30;
  --color-teal:  #176B87;
  --color-aqua:  #64CCC5;
  --color-frost: #DAFFFB;
}
